* {
  font-size: 14px;
  font-family: monospace;
}

window#waybar {
  background: rgba(0, 0, 0, 0.0);
  color: #c8c093;
}

.horizontal {
  margin: 0.2em 0.2em 0em 0.2em;
  border-radius: 0 0 0.8em 0.8em;
}

.horizontal .modules-left,
.horizontal .modules-center,
.horizontal .modules-right
{
  background-color: rgba(50,50,50,0.4);
}

.horizontal .modules-center{
  padding: 0 1.3em 0 1.3em;
}

.horizontal .modules-right  {
  margin: 0 2.3em 0 1.3em;

}


#workspaces {
  color: #fff;
}

#workspaces button {
  color:#fff;
  /* background-color: #1e1e1e; */
}
#workspaces button.empty {
  color: #727169;
  /* background-color: #222; */
}
#workspaces button.visible {
  color: #fff;
}
#workspaces button.active {
  background: #222;
  color: #76946a;
  font-weight: bold;
}

#mpris {
  color: #757800;
}
#clock {
  margin-left: 2em;
  font-weight: bold;
}

#wireplumber,
#memory,
#cpu,
#battery,
#tray
{
  margin: 0 1em 0 1em;
}

#wireplumber {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
